<%-include('../user/layout/userheader.ejs') %>
	<style>
		.product-entry:hover {
			transform: scale(1.05);
			/* Increase size by 5% */
		}
	</style>




	<aside id="colorlib-hero">
		<div class="flexslider">
			<ul class="slides">

				<% banne.forEach((el)=>{ %>

					<li style>

						<img src="<%=el.BImage[0] %>">


						<div class="overlay" style="text-align: center;padding-top: 300px;">
							<h2 class="head-2">
								<%=el.Bname %>
							</h2>
							<h5>
								<%=el.discription %>
							</h5>
							<p><a href="<%=el.url  %> " class="btn btn-outline-dark text-light">Shop Now</a></p>


						</div>


						<div class="container-fluid">

							<div class="row">

								<div class="col-sm-6 offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">


										<div class="desc">

											<h2 class="head-3"> </h2>
											<p class="category"></p>

										</div>
									</div>
								</div>
							</div>
						</div>


					</li>
					<% }) %>





			</ul>
		</div>
	</aside>


	<div class="colorlib-product">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
					<h2>Trending</h2>
				</div>
			</div>
			<div class=" ">
				<div class="row row-pb-md">
					<% pdtss.forEach((produ)=>{ %>
						<div class="col-lg-3 mb-4  text-center">
							<div class="product-entry border product-hover ">


								<a href="/pdtdetails?pdtc=<%=produ._id %> " class="prod-img">

									<img src="<%=produ.image[0] %>" class="img-fluid" alt="">

								</a>
								<div class="desc">
									<h2>
										<%= produ.productName %>
									</h2>
									<h2>
										<%= produ.category.name %>
									</h2>
									<span class="price"><span><i class="bi bi-currency-rupee"></i></span>
										<%= produ.price %>
									</span>

									<a onclick="wishlisttick('<%=produ._id %>')" href="#"><i
											class="fa-regular fa-heart"></i></a>&nbsp;&nbsp;
									<a onclick="addtocart('<%=produ._id%>')" href="#"><button type="submit"
											class="btn btn-info">Add to Cart</button></a>



								</div>


							</div>
						</div>

						<% }) %>

				</div>

			</div>
		</div>
<%-include('../user/layout/userfooter.ejs') %>